
/* navbar */
.navbar{
    display: block;
}
.navbar-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #001219;
    font-weight: 600;
}
.navbar-list-item{
    padding: 10px 3%;
}
.navbar-list a{
    color: #001219;
}
#navbar-home a, #navbar-projects a{
    color: #9BD5C2;
}
#navbar-home a:hover, #navbar-projects a:hover{
    color: #BB3E03;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
    transform: rotateY(180deg);
}

.hamburger{
    display: none;
}

/* shared css */
.contact-body-container, .index-body-container, .projects-body-container, .skills-body-container, .journey-body-container{
    padding: 90px 50px 0;
}

.contact-body-container h2, .projects-body-container h2, .skills-body-container h2, .journey-body-container h2{
    max-width: 60%;
}

/* home */
.index-body-container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.index-body-container img{
    position: relative;
}
.index-body-container img:hover{
    transform: scale(1.02);
    border: 3px solid #CA6702;
}
.about-me{
    width: 60%;
}
.about-me p{
    font-size: 19px;
}
.about-me .quick-contact{
    font-size: 15px;
    padding: 0 15px;
}
/* contact */
.contact-card{
    margin: 5%;
    aspect-ratio: 2/1.5;
    min-height: 0;
}
.contact-card:hover{
    transform: scale(1.02);
}
.contact-container{
    flex-wrap: nowrap;
}

/* projects */
.projects-list{
    margin-left: 50px;
}
.projects{
    padding-left: 80px;
}
.project-card{
    padding: 0 60px;
}
.project-card-content{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}
.grid-text-1{
    padding: 0 65px;
}
#up-button{
    display: none;
    position: fixed;
    top: 88vh;
    left: 94vw;
    width: 45px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    transition: 0.5s;
}
#up-button:hover{
    scale: 110%;
}
.fa-arrow-up{
    display: block;
    font-size: 40px;
}

/* skills */
.skill-title{
    font-size: 40px;
}
.language-title{
    font-size: 30px;
}
.skills-body-container h2{
    margin-left: 50px;
    margin-bottom: 70px;
}
.skills-list{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px 10px;
    padding-left: 100px;
}

/* journey */
.journey-card{
    padding: 10px 50px;
}

/* footer */
.footer hr{
    width: 400px;
}