
/* navbar */
.navbar{
    display: block;
}
.navbar-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #001219;
    font-weight: 600;
}
.navbar-list a{
    color: #001219;
}
.hamburger{
    display: none;
}

/* home */
.contact-body-container, .index-body-container, .projects-body-container{
    padding: 50px 50px 0 50px;
}
.index-body-container{
    flex-direction: row;
}
.index-body-container img{
    width: 55%;
}
.index-body-container img:hover{
    transform: scale(1.02);
}
.about-me{
    width: 75%;
}
.about-me p{
    font-size: 19px;
}
.about-me .quick-contact{
    font-size: 15px;
    padding: 0 15px;
}
/* contact */
.contact-card{
    margin: 5%;
    aspect-ratio: 2/1.5;
    min-height: 0;
}
.contact-card:hover{
    transform: scale(1.02);
}

/* projects */