@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
    scroll-behavior: smooth;
}
body{
    padding: 5px;
    min-height: 100dvh;
    background-attachment: fixed;
    background-color: #002B3C;
    /* background-image: radial-gradient(at 80% -100px, #9BD5C2 5%, #002B3C 60%); */
    color: #001219;
    font-family: "Poppins", sans-serif;
}
body a{
    text-decoration: none;
    cursor: pointer;
}
body ul{
    list-style: none;
}

/* navbar */
.navbar{
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: flex-end;
}
.navbar-list{
    position: fixed;
    display: block;
    background-color: #005F73;
    color: #FAF7EC;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 5px;
    z-index: 1;
    top: 8vh;
    right: -100%;
    transition: 0.4s;
}
.navbar-list.is-active{
    right: 0;
}
.navbar-list-item{
    padding: 10px 3%;
}
.navbar-list a{
    color: #FAF7EC;
}
.navbar-list a:hover{
    color: #BB3E03;
}

.website-divider-container-110428 {
    height: 100%;
}
  
.divider-img-110428{
    position: absolute;
    width: 100%;
    height: 187px;
    
    transform: scale(1, -1);
    top:0px;
    left: 0px;
    fill: rgb(155, 213, 194)
}

.hamburger{
    display: block;
    position: relative;
    cursor: pointer;
    width: 45px;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 10;
}
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #005F73;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #CA6702;
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -7px);
    background-color: #CA6702;
}
.hamburger.is-active .bar{
    opacity: 0;
}

/* home */
.color-red{
    color: #CA6702;
    font-weight: 600;
}
.index-body-container, .contact-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}
.index-body-container img{
    width: 80%;
    margin: 20px 0;
    border: 3px solid #001219;
    border-radius: 10px;
    transition: 0.4s;
}
.index-body-container .image{
    display: flex;
    justify-content: center;
}
.about-me{
    padding: 0 20px;
}
.about-me h1{
    font-size: 45px;
    color: #CA6702;
    margin: 0;
}
.about-me-main{
    color: #68D8D6;
}
.about-me p{
    padding: 0 10px;
}
.quick-contact{
    margin: 0;
    font-size: 13px;
    color: #CA6702;
    font-weight: 600;
}

/* contact */
.contact-body-container h2, .projects-body-container h2{
    padding: 0 20px;
    font-size: 25px;
    font-weight: 600;
    color: #CA6702;
    max-width: 50%;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-card{
    background-color: #93CDBB;
    color: #001219;
    width: 350px;
    min-height: 300px;
    border-radius: 2px;
    margin: 10%;
    box-shadow: 2px 1px 10px #001219;
    transition: 0.4s;
}
.circle-icon{
    display: inline-block;
    position: relative;
    background-color: #CA6702;
    color: #FAF7EC;
    font-size: 30px;
    padding: 15px 17px;
    border-radius: 100%;
    top: -30px;
    left: 40%;
    z-index: 1;
    text-align: center;
    line-height: 1;
}
.contact-card-content{
    padding: 0 20px 20px 20px;
    margin-top: -10px;
}
.contact-card-content p{
    padding: 0 5px;
    margin: 5px 0px;
}
.contact-card-content a{
    color: #005779;
}
.contact-card-content a:hover{
    color: #CA6702;
}
#linkedin-text, #email-text{
    margin-top: 15px;
}

/* projects */
.projects-list{
    margin-bottom: 70px;
    margin-left: 50px;
}
.projects-list h2{
    color: #CA6702;
    font-size: 25px;
}
.projects{
    list-style: circle;
    padding-left: 80px;
}
.projects li{
    margin-bottom: 10px;
}
.projects li::marker{
    color: #68D8D6;
}
.projects a{
    color: #68D8D6;
}
.projects a:hover{
    color: #CA6702;
}

.projects-body-container h1{
    color: #CA6702;
    font-size: 32px;
}
.project-card{
    padding: 0 60px;
}
.project-card img{
    width: 500px;
    height: 100%;
    border-radius: 5px;
}
.project-card-content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 270px 270px;
    gap: 20px;
    min-height: 0;
    min-width: 0;
}
.grid-images-1{
    grid-column-start: 1;
    overflow: hidden;
    min-width: 0;
}
.grid-text-1{
    grid-column-start: 2;
    overflow: hidden;
    min-width: 0;
}
.grid-images-2{
    grid-column-start: 2;
    overflow: hidden;
    min-width: 0;
}
.grid-text-2{
    grid-column-start: 1;
    overflow: hidden;
    min-width: 0;
    color: #68D8D6;
}
.projects-body-container hr{
    width: 900px;
    height: 1.6px;
    background: linear-gradient(to right, #001219, #001219, #001219, transparent);
    border: none;
    margin: 30px 0;
}

/* footer */
.footer{
    text-align: center;
    font-size: 15px;
}
.footer p{
    margin: 0;
    color: #94D2BD;
}
.footer hr{
    height: 1.5px;
    background: linear-gradient(to right, transparent, #94D2BD, transparent);
    border: none;
}